version: "3.8"

services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb+srv://myUser:myPassword123@cluster0.v6lntoe.mongodb.net/?appName=Cluster0
      - JWT_SECRET=your_super_secret_jwt_key_12345
      - PORT=5000
    depends_on:
      - mongodb

  frontend:
    build: ./frontend
    ports:
      - "80:5173"
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - backend

volumes:
  mongo_data:
